<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR Predictions</title>
</head>
<body>
    <form method="POST" style="text-align: center;">
        <p> Entire the required Details</p>
        <p>Modality</p>
        <input name="modality" placeholder="handwritten"> <br> 
        <p> level</p>
        <input name="level" placeholder="word"> 
        <p> language</p> 
        <input name="language" placeholder="hindi"> <br>
        <p> model-id</p>
        <input name="model-id" placeholder="1">  <br>
        <p> input_path</p>
        <input name="input_path" placeholder="./../sample/">  <br>
        <p> device</p>
        <input name="device" placeholder="0">  <br> <br>
        <button type="submit">Submit</button> 
    </form>
</body>
</html>